:root{
    --branco: #F8F6F2;
    --preto: #20211C;
    --bege: #FFE8D6;
    --bege-escuro: #DDBEA9;
    --marrom: #CB997E;
    --verde-claro: #B7B7A4;
    --verde-médio: #A5A58D;
    --verde-escuro: #6B705C;
    --fonte-principal: "Creamer";
    --fonte-secundaria: "Source Code Pro", monospace;
}

h1{
    font-size: 50px;
    font-family: var(--fonte-principal);
}

p{
    font-size: 18px;
    font-family: var(--fonte-secundaria);
}

body{
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
}

.corpo{
    background-color: var(--bege);
    width: 60%;
    height: 100vh; /*verificar isso dps*/
}

.titulo{
    text-align: center;
}

.apresentacao{
    display: flex;
}

.apresentacao__texto{
    width: 65%;
}

.apresentacao__imagem{
    width: 35%;
}

.apresentacao__imagem img{
    width: 80%;
}

@font-face {
    font-family: "Creamer";
    src: url(fonts/creamer/Creamer\ .ttf);
}