:root{
    --branco: #F8F6F2;
    --preto: #20211C;
    --bege: #FFE8D6;
    --bege-escuro: #DDBEA9;
    --marrom: #CB997E;
    --verde-claro: #B7B7A4;
    --verde-médio: #A5A58D;
    --verde-escuro: #6B705C;
    --fonte-principal: "Creamer";
    --fonte-secundaria: "Source Code Pro", monospace;
}

h1{
    font-size: 50px;
    font-family: var(--fonte-principal);
}

h2{
    font-size: 40px;
    font-family: var(--fonte-principal);
}

h3{
    font-size: 25px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

h4{
    font-size: 25px;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
}

p{
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    color: var(--preto);
}

body{
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
}

.corpo{
    background-color: var(--bege);
    width: 60%;
    height: 100vh; /*verificar isso dps*/
    padding: 2rem 3rem;
}

.titulo{
    text-align: center;
    color: var(--verde-escuro);
    text-shadow: 1px 3px var(--preto);
}

.apresentacao{
    display: flex;
    margin: 2rem 0 0.5rem 0;
}

.apresentacao__texto{
    width: 65%;
    padding: 2rem;
}

.apresentacao__texto h4{
    padding: 0 0 0.5rem 2rem;
}

.apresentacao__texto p{
    text-align: justify;
}

.apresentacao__texto span{
    font-weight: 600;
    border-bottom: 2px solid var(--marrom);
}

.texto__lista{
    background-color: var(--bege-escuro);
    border-radius: 15px;
    box-shadow: 5px 5px var(--marrom);
    width: 60%;
    margin: 1rem auto;
    padding: 1rem 2rem;
    list-style-type: circle;
}

.texto__lista li{
    line-height: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__imagem{
    width: 35%;
    text-align: center;
}

.apresentacao__imagem img{
    width: 75%;
    border-radius: 80px;
    border: 5px solid var(--marrom);
}

.conteudo__titulo{
    text-align: center;
    color: var(--verde-escuro);
    text-shadow: 1px 2px var(--preto);
}

.conteudo__subtitulo{
    background-color: var(--verde-médio);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}

@font-face {
    font-family: "Creamer";
    src: url(fonts/creamer/Creamer\ .ttf);
}