:root{
    --branco: #F8F6F2;
    --preto: #20211C;
    --bege: #FFE8D6;
    --bege-escuro: #DDBEA9;
    --marrom: #CB997E;
    --verde-claro: #B7B7A4;
    --verde-médio: #A5A58D;
    --verde-escuro: #6B705C;
}

body{
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
}

.corpo{
    background-color: var(--bege);
    width: 60%;
    height: 100vh; /*verificar isso dps*/
}